body{
background:#8ba987;
background: url("../PICTURES/poker2.jpg") no-repeat center center fixed ;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

#segundaI{
  display: none;
}
#segundaII{
  display: none;
}
.jugador{
  display: none;
}
#tercera{
  display: none;
}


.btnprimario {
  -webkit-border-radius: 16;
  -moz-border-radius: 16;
  border-radius: 30px;
  font-family: "Dopestyle";
  color: white;
  font-weight: bold;
  font-size: 240%;
  background:  #0669b2;
  font-family: "Arial", "Verdana", "Garamond";
  padding-top: 1%;
  padding-right: 2%;
  padding-bottom: 2%;
  padding-left: 4%;
  border: 5px solid grey;
}

.btnprimario:hover {
  background: #171BC7;
    background-image: -webkit-linear-gradient(top, #E7DB88, #CDB717);
    background-image: -moz-linear-gradient(top,  #68a1b8 ,  #68a1b8 );
    background-image: -ms-linear-gradient(top, #E7DB88, #CDB717);
    background-image: -o-linear-gradient(top, #E7DB88, #CDB717);
    background-image: linear-gradient(to bottom,  #68a1b8 ,  #68a1b8 S);
    border: 2px solid grey ;


}
#btnJugar{
  position: absolute;
  top: 15%;
  left: 10%;
}
#btnAcerca{
  position: absolute;
  top: 39%;
  left: 11.4%;
}
#btnAyuda{
  position: absolute;
  top: 63%;
  left: 13.8%;
}
