/*CSS para la pagina incial*/
body{
  background:#8ba987;
  background: url("../PICTURES/poker2.jpg") no-repeat center center fixed ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;}
#segundaI{
  display: none;
  box-shadow: 10px 20px 10px #0669b2;
}
#segundaII{
  display: none;
}
.jugador{
  display: none;
}
#tercera{
  display: none;
}
.btnprimario {
  -webkit-border-radius: 16;
  -moz-border-radius: 16;
  border-radius: 30px;
  font-family: monospace;
  color: white;
  font-weight: bold;
  font-size: 240%;
  background:  #0669b2;
  font-family: "Arial", "Verdana", "Garamond";
  padding-top: 1%;
  padding-right: 2%;
  padding-bottom: 2%;
  padding-left: 4%;
  border: 4.5px solid grey;}
.btnprimario:hover {
  background: #171BC7;
    background-image: -webkit-linear-gradient(top, #68a1b8, #68a1b8);
    background-image: -moz-linear-gradient(top,  #68a1b8 ,  #68a1b8 );
    background-image: -ms-linear-gradient(top, #68a1b8, #68a1b8);
    background-image: -o-linear-gradient(top, #68a1b8, #68a1b8);
    background-image: linear-gradient(to bottom,  #68a1b8 ,  #68a1b8);
    border: 8px solid grey ;
    text-shadow: 0 1px 0 #ccc,
                 0 2px 0 #c9c9c9,
                 0 3px 0 #bbb,
                 0 4px 0 #b9b9b9,
                 0 5px 0 #aaa,
                 0 6px 1px rgba(0,0,0,.1),
                 0 0 5px rgba(0,0,0,.1),
                 0 1px 3px rgba(0,0,0,.3),
                 0 3px 5px rgba(0,0,0,.2),
                 0 5px 10px rgba(0,0,0,.25),
                 0 10px 10px rgba(0,0,0,.2),
                 0 20px 20px rgba(0,0,0,.15);}
#btnJugar{
  position: absolute;
  top: 15%;
  left: 10%;
}
#btnAcerca{
  position: absolute;
  top: 39%;
  left: 11.4%;
}
#btnAyuda{
  position: absolute;
  top: 63%;
  left: 13.8%;
}
#primera{}

/*CSS para la pagina secundaria*/
#segundaI{
  border: 13px solid grey;
  position: absolute;
  top:14%;
  left:14.5%;
  width: 70%;
  height: 70%;
  background: #EEE9E9;
  box-shadow: 20px 30px 50px #151515;
  -webkit-border-radius: 50;
  -moz-border-radius: 50;
  border-radius: 100px;
  font-size-adjust: auto;
  font-family: "Arial", "Verdana", "Garamond";
}
#centrar{
  position: absolute;
  top:6%;
  left:11%;
  color: black;
  font-weight: bold;
  font-size: 50px;
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}
#texto1{
  position: absolute;
  top:43%;
  left:23%;
  font-size:26px;
  color: black;
}

#texto2{
  position: absolute;
  top:43%;
  left:52%;
  font-size:26px;
  color: black;

}
#apuesta{
  position: absolute;
  top:58% !important;
  left:52% !important;
}
#jugadores{
  position: absolute;
  top:58% !important;
  left:22% !important;
}
.jugado{
  position: absolute;
  top:60%;
  left:39%;
    height: 55px;
    width: 200px;
    background:#DBDFDB;
    color: #11220B;
    font-size: 45px;
    text-align: center
}
#indicacion{
  display: none;
  position: absolute;
  top:62%;
  left:62%;
    height: 55px;
    width: 170px;
    color: #68a1b8;
    font-size: 12px;
    text-align: center
}
.jugado:focus {
    -webkit-outline: none !important;
    -webkit-border-color: #719ECE;
    -webkit-box-shadow: 0 0 10px #0B6138;
    outline-color: none;
    outline: none !important;
     border: 2px solid #719ECE;
    box-shadow: 0 0 10px #0B6138;
  }
#ingresarapuesta{
 position: absolute;
 top:80%;
 left:53%;
 width: 230px !important;
 height: 55px !important;
 font-size: 25px !important;
 border: 4.5px solid grey !important;
}
#jugar{
  position: absolute;
  top:80%;
  left:53%;
  width: 230px !important;
  height: 55px !important;
  font-size: 25px !important;
  border: 4.5px solid grey !important;
  display: none;
}


#regresar{
  position: absolute;
  top:80%;
  left:22%;
  width: 230px !important;
  height: 55px !important;
  font-size: 25px !important;
  border: 4.5px solid grey !important;
}
#regresarjugadores{
  position: absolute;
  top:80%;
  left:53%;
  width: 230px !important;
  height: 55px !important;
  font-size: 25px !important;
  border: 4.5px solid grey !important;
  display: none;
}
#centrar11{
  border: 4px solid #BDBDBD;
  position: absolute;
  top:37%;
  left:13%;
  width: 700px;
  height: 205px;
  -webkit-border-radius: 40;
  -moz-border-radius: 40;
  border-radius: 80px;
  background: #F2F2F2;
}

/*CSS PARA ZONA DE JUEGOS */
.segunda{
border: 20px solid grey;
position: absolute;
top:17%;
left:14.5%;
width: 50%;
height: 57%;
background: #EEE9E9;
box-shadow: 30px 40px 60px #151515;
-webkit-border-radius: 100;
-moz-border-radius: 100;
border-radius: 250px;
font-size-adjust: auto;
font-family: "Arial", "Verdana", "Garamond";
}
.capasJ1{
    /*border: 5px solid  #E5E7E9 ;*/
    width: 140px;
    height: 130px;
    /*float: left;*/
    color: #FFF;
    text-shadow: 0 0 0.2em #00FFFF, 0 0 0.2em #87F, 0 0 0.2em #87F;

    font-size: 25px;
    font-weight: bold;
}

#div2{
  position: absolute;
  top: 13.2%;
  left: 15.9%;
}
#div5{
  position: absolute;
  top: 13.2%;
  left: 54.7%;
}
#div4{
  position: absolute;
  top: 10%;
  left: 41.5%;
}
#div3{
  position: absolute;
  top: 10%;
  left: 29%;
}
#div11{
  position: absolute;
  top: 37%;
  left: 12%;
}
#div6{
  position: absolute;
  top: 37%;
  left: 59.1%;
}
#div7{
  position: absolute;
  top: 58%;
  left: 54.7%;}

#div10{
  position: absolute;
  top: 58%;
  left: 15.9%;
}
#div9{
  position: absolute;
  top: 64%;
  left: 29%;
}
#div8{
  position: absolute;
  top: 64%;
  left: 41.5%;
}



#divcentral{
  /*border: 1px solid  #d35400 ;*/
  width: 50%;
  height: 240px;
  float: left;
  color: #FFF;
  text-shadow: 0 0 0.2em #00FFFF, 0 0 0.2em #87F, 0 0 0.2em #87F;
  font-size: 25px;
  font-weight: bold;
}

#btn{
position: absolute;
top: 500px;
  width: 700px;
  height: 60px;
  float: left;
  color: #FFF;
  text-shadow: 0 0 0.2em #00FFFF, 0 0 0.2em #87F, 0 0 0.2em #87F;
  font-size: 25px;
  font-weight: bold;
}
/*#pasar{
  display: none;
}
#retirarse{
  display: none;
}*/
.subcap1{
  /*border: 1px solid grey;*/
  width: 37px;
  height: 55px;
  float: left;
  -webkit-transition: width 2s; /* Safari */
  /*transition: width 0.5s;
  transition: height 0.5s;*/
 }
.subcap1:hover{
  width: 52px;
  height: 75px;
  }
.btntercero{
  -webkit-border-radius: 16;
  -moz-border-radius: 16;
  border-radius: 30px;
  font-family: monospace;
  color: white;
  font-weight: bold;
  font-size: 20px;
  background:  #0669b2;
  font-family: "Arial", "Verdana", "Garamond";
  padding-top: 1%;
  padding-right: 2%;
  padding-bottom: 2%;
  padding-left: 4%;
  border: 2px solid grey;
}

#btnExtras{
  border: 2px solid grey;
  width: 130px;
  height: 300px;
  position: absolute;
  top: 10px;
  left: 1100px;

}

#sb1{
  position: absolute;
  top: 65px;
  left: 80px;
transform: rotate(315deg);
}
#sb2{
  position: absolute;
  top: 91px;
  left: 52px;
transform: rotate(315deg);
}
#sb3{
  position: absolute;
  top: 67px;
  left: 75px;
}
#sb4{
  position: absolute;
  top: 67px;
  left: 36px;
}
#sb5{
  position: absolute;
  top: 67px;
  left: 75px;
}
#sb6{
  position: absolute;
  top: 67px;
  left: 36px;
}
#sb7{
  position: absolute;
  top: 65px;
  left: 25px;
transform: rotate(45deg);
}
#sb8{
  position: absolute;
  top: 91px;
  left: 52px;
transform: rotate(45deg);
}
#sb9{
  position: absolute;
  left: 25px;
transform: rotate(90deg);
}
#sb10{
position: absolute;
top: 63px;
left: 25px;
transform: rotate(90deg);
}
#sb11{
  position: absolute;
  top: 2px;
  left: 41px;
transform: rotate(315deg);
}
#sb12{
  position: absolute;
  top: 28px;
  left: 12px;
transform: rotate(315deg);
}
#sb13{
  position: absolute;
  top: 0px;
  left: 31px;
}
#sb14{
  position: absolute;
  top: 0px;
  left: 70px;
}
#sb15{
  position: absolute;
  top: 0px;
  left: 31px;
}
#sb16{
  position: absolute;
  top: 0px;
  left: 70px;
}
#sb17{
  position: absolute;
  top: 0px;
  left: 73px;
transform: rotate(45deg);
}
#sb18{
  position: absolute;
  top: 27px;
  left: 100px;
transform: rotate(45deg);
}
#sb19{
  position: absolute;
  right: 20px;
  transform: rotate(90deg);
}
#sb20{
  position: absolute;
  top: 63px;
  right: 20px;
  transform: rotate(90deg);
}
